doctype html
html
  head
    title= title
    a(href='/chart/sensor1', title='Sensor1') Sensor 1
    br
    a(href='/chart/sensor2', title='Sensor2') Sensor 2
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
